* {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-height:100%;
    max-width:100%;
}

header {
    margin: 25px;
}

header * {
   padding: 0;
   margin: 0;
   text-align: center;
}

#profile-pic {
    border-radius: 30px;
    border: solid gray;
    position: absolute;
    left: 2%;
    top: 2%;
    width: 100px;
}

#my-picture {
    object-fit: cover;
    height: 100px;
    width: auto;
    image-rendering: optimizeSpeed;
}

h1 {
   font-size: xx-large;
   color: gray;
}

h6 {
    color:gray;
    letter-spacing: 7.5px;
}

nav {
    margin-bottom: 20px;
}

ul {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    height: 40px;
    text-align: center;
    list-style: none;
    flex-wrap: wrap;
}

.navbar-items {
    flex: 0 0 10rem;
    color: gray;
    font-weight: bolder;
    background-color: white;
    border-radius: 30px;
    height: 40px;
    width: 8%;
    margin: auto;
    border: solid gray; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-items:hover {
    background-color: gray;
    color: white;
    font-weight: bolder;
    font-size: larger;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.portfolio-piece {
    flex-wrap: wrap; 
    flex: 0 1 auto;
    width: 500px;
    height: 300px;
    margin: 5px;
    border-radius: 30px; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

.portfolio-piece:hover {
    box-shadow: 0 0 0.5em gray;
    cursor: pointer;
}

.portfolio-piece img {
    object-fit: cover;
    width: 500px;
    height: 500px;
    filter: brightness(130%);
}

.portfolio-piece h3 {
    font-weight: bolder;
    font-size: xx-large;
}

.portfolio-piece p {
    font-weight: bold;
    font-size: larger;
}

#project-1 {
    background-image: url("./pb1.jpg");
    background-position: center;
    background-size: cover;
    image-rendering: optimizeSpeed;
    width: 700px;
}

#project-2 {
    background-image: url("./pb2.jpg");
    background-position: center;
    background-size: cover;
    image-rendering: optimizeSpeed;
    opacity: 50%;
}

#project-3 {
    background-image: url("./pb3.jpg");
    background-position: center;
    background-size: cover;
    image-rendering: optimizeSpeed;
    opacity: 50%;
}

#project-4 {
    background-image: url("./pb4.jpg");
    background-position: center;
    background-size: cover;
    image-rendering: optimizeSpeed;
    opacity: 50%;
}

#project-5 {
    background-image: url("./pb5.jpg");
    background-position: center;
    background-size: cover;
    image-rendering: optimizeSpeed;
    opacity: 50%;
}

aside {
    height: 1000px;
    margin-top: 200px;
    background-color: gray;
    color: white;
}

aside h1 {
    text-align: center;
    margin: 200 px;
    letter-spacing: 5px;
    color:white;
    padding-top: 4em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-container {
    height: 300px;
    width: 250px;
    margin-top: 500px;
}

.personal-image {
    height: 300px;
    width: 250px;
    object-fit: cover;
}