* {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-height:100%;
    max-width:100%;
}
/* Header Section */
header {
    margin: 25px;
}

header * {
   padding: 0;
   margin: 0;
   text-align: center;
}

h1 {
   font-size: xx-large;
   color: gray;
}

h6 {
    color:gray;
    letter-spacing: 7.5px;
}
/* Navigation Bar Section */
nav {
    margin-bottom: 20px;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    height: 40px;
    text-align: center;
    list-style: none;
    flex-wrap: wrap;
}

.navbar-items {
    flex: 0 0 10rem;
    color: gray;
    font-weight: bolder;
    background-color: white;
    border-radius: 30px;
    height: 40px;
    width: 8%;
    margin: auto;
    border: solid gray; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-items:hover {
    background-color: gray;
    color: white;
    font-weight: bolder;
    font-size: larger;
    cursor: pointer;
}
/* Project Section */
main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.portfolio-piece {
    flex-wrap: wrap; 
    flex: 0 1 auto;
    width: 500px;
    height: 300px;
    margin: 5px;
    border-radius: 30px; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

.portfolio-piece:hover {
    box-shadow: 0 0 0.5em gray;
    cursor: pointer;
}

.portfolio-piece h3 {
    font-weight: bolder;
    font-size: xx-large;
}

.portfolio-piece p {
    font-weight: bold;
    font-size: larger;
}

#project-1 {
    background-image: url("./pb1.jpg");
    background-position: center;
    background-size: cover;
    image-rendering: optimizeSpeed;
    width: 700px;
}

#project-2 {
    background-image: url("./pb2.jpg");
    background-position: center;
    background-size: cover;
    image-rendering: optimizeSpeed;
    width: 700px;
}

#project-3 {
    background-image: url("./pb3.jpg");
    background-position: center;
    background-size: cover;
    image-rendering: optimizeSpeed;
    opacity: 50%;
}

#project-4 {
    background-image: url("./pb4.jpg");
    background-position: center;
    background-size: cover;
    image-rendering: optimizeSpeed;
    opacity: 50%;
}

#project-5 {
    background-image: url("./pb5.jpg");
    background-position: center;
    background-size: cover;
    image-rendering: optimizeSpeed;
    opacity: 50%;
}
/* About Me Section */
aside {
    height: 1000px;
    margin-top: 200px;
    background-color: gray;
    color: white;
}

aside h1 {
    text-align: center;
    letter-spacing: 5px;
    color:white;
    padding-top: 4em;
}

.images-about-me {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center; 
   min-height: 400px;
   margin-top: 25px;
}

 .about-me-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    width: 100%;
}

.image-container {
    height: 300px;
    margin: 5px 0px;
}

.personal-image {
    height: 300px;
    width: auto;
    border-radius: 10%;
}

#description {
    margin-top: 5%;
    width: 75%;
    text-align: justify;
}

strong {
    font-weight: bolder
}

footer {
    height: 1000px;
    margin-top: 200px;
    color: gray;
}
/* Footer Area */
footer h1 {
    text-align: center;
}

.contact-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: x-large;
    flex-direction: column;
}

@media screen and  (max-width: 722px) {
    nav {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    aside {
        height: 1500px;
    }

    .about-me-container {
        flex-direction: column;
    }
}
